
    p{
        background-color: aquamarine;
        text-align: justify;
        padding: 100px;
    }

    h1,h2{

        background-color: beige;
        text-align: center;
        padding: 50px;
    }

    #sample{

        background-color: rebeccapurple;
        text-align: center;
    }

    body{
background-image: url(/img/background.jpeg);
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;

    }

